name: Build and upload conda packages

on:
  release:
    types: ['released', 'prereleased']

  workflow_dispatch:

jobs:
  conda_deployment:
    name: Conda deployment
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup conda env
        uses: mamba-org/setup-micromamba@v2
        with:
          # We can use a simple environment with conda-build
          condarc: |
            channels:
              - uibcdf
              - conda-forge
            channel_priority: strict
          create-args: >-
            python=3.11
            conda-build
            anaconda-client

      - name: Build and upload molsyssuite
        uses: uibcdf/action-build-and-upload-conda-packages@main
        with:
          meta_yaml_dir: devtools/conda-build/molsyssuite
          user: uibcdf
          label: main
          conda_build_args: --package-format tar.bz2
          platform_linux-64: true
          platform_osx-64: true
          platform_osx-arm64: true
          platform_win-64: true
          token: ${{ secrets.ANACONDA_UIBCDF_TOKEN }}

      - name: Build and upload molsyssuite-dev
        uses: uibcdf/action-build-and-upload-conda-packages@main
        with:
          meta_yaml_dir: devtools/conda-build/molsyssuite-dev
          user: uibcdf
          label: main
          conda_build_args: --package-format tar.bz2
          platform_linux-64: true
          platform_osx-64: true
          platform_osx-arm64: true
          platform_win-64: true
          token: ${{ secrets.ANACONDA_UIBCDF_TOKEN }}
